/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/styles.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.avatar {
    margin: 20px;
    border-radius: 50%;
  }

.card {
    width: -moz-fit-content;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 20px;
    background: #fff;
  }
